<%= form_tag(shouts_path, method: :get) do %>
  <%= render 'shared/filter_form' %>
<% end %>

<h1 class="center-header">Posts</h1>

<% if user_signed_in? %>
  <div class="shout-create-form">
    <%= form_for Shout.new do |f| %>
      <div class="field-section textbox-section">
        <%= f.label :body %>
        <%= f.text_area :body %>
      </div>

      <%= f.submit(id: "create-shout-button") %>
    <% end %>
  </div>
<% end %>


<ul class="shouts-list">
  <%= render @shouts %>
</ul>
