<%= form_tag(shouts_path, method: :get) do %>
  <%= render 'shared/filter_form' %>
<% end %>

<h1 class="center-header">Posts</h1>

<%= form_for Shout.new do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit %>
<% end %>


<ul class="shouts-list">
  <%= render @shouts %>
</ul>
