<%= form_for @user do |f| %>
  <h2>Diagnosis</h2>
  <%= f.fields_for @user.diagnosis || @user.build_diagnosis do |df| %>
    <div class="field-container">
      <%= df.label :cancer %>
      <%= df.select :cancer_id,
        @cancers.pluck(:name, :id) %>
    </div>

    <div class="field-container">
      <%= df.label :stage %>
      <%= df.number_field :stage, max: 4, min: 1, step: 1 %>
    </div>

    <div class="field-container">
      <%= df.label :diagnosed_at %>
      <%= df.date_select :diagnosed_at, 
        {order: [:month, :day, :year], 
         start_year: Date.today.year, 
         end_year: @user.birthdate.year} %>
    </div>
  <% end %>
  <%= f.submit %>
<% end %>
