<div class="fields-section">
  <script src="/filter.js">
  </script>
  <div>
    <%= label_tag :age_start %>
    <%= number_field_tag(:age_start) %>
  </div>  
  <div>  
    <%= label_tag :age_end %>
    <%= number_field_tag(:age_end) %>
  </div>
  <div>
    <%= label_tag :distance_in_miles %>
    <%= number_field_tag(:distance_in_miles) %>
  </div>
  <div>
    <%= label_tag(:my_cancer) %>
    <%= check_box_tag(:my_cancer) %>
  </div>
  <div>
    <%= label_tag(:stage) %>
    <%= select_tag :stage, options_for_select((1..4).map{|e| [e, e]}) %> 
  </div>
  <%= submit_tag("Apply Filter") %>
</div>
