<div class="fields-section">
  <%= label_tag :age_start %>
  <%= number_field_tag(:age_start) %>
  <%= label_tag :age_end %>
  <%= number_field_tag(:age_end) %>
  <%= label_tag :distance_in_miles %>
  <%= number_field_tag(:distance_in_miles) %>
  <%= check_box_tag(:my_cancer) %>
  <%= label_tag(:my_cancer) %>
</div>
