<div class="fields-section">
  <div>
    <%= label_tag :age_start %>
    <%= number_field_tag(:age_start) %>
  </div>  
  <div>  
    <%= label_tag :age_end %>
    <%= number_field_tag(:age_end) %>
  </div>
  <div>
    <%= label_tag :distance_in_miles %>
    <%= number_field_tag(:distance_in_miles) %>
  </div>
  <div>
    <%= check_box_tag(:my_cancer) %>
    <%= label_tag(:my_cancer) %>
  </div>
</div>
